services:
  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    container_name: speedtest-tracker
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=[your timezone, e.g., America/New_York]
      - APP_KEY=[randomly generated key]
      - APP_URL=http://localhost
      - DB_CONNECTION=sqlite
      - SPEEDTEST_SCHEDULE=[insert cron expression]
      - SPEEDTEST_SERVERS=[if you know the speedtest servers near you, you can enter its ID here]
      - DISPLAY_TIMEZONE=[your timezone, e.g., America/New_York]
      - PRUNE_RESULTS_OLDER_THAN=0
    volumes:
      - ./config:/config
    ports:
    - 8888:80
    - 8443:443